main {
    position: fixed;
    top: 10%;
    bottom: 90%;
    left: 0;
    right: 0;
}

table, td {
    border: 1px solid;
}

table {
    width: max-content;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
}

td {
    padding: 5px;
    border-top-width: 0;
    border-left-width: 0;
}
.on {
    background-color: green;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

header {
    position: fixed;
    top: 0%;
    bottom: 90%;
}

footer {
    position: fixed;
    bottom: 0%;
    top: 90%;
}

button {
    vertical-align: middle;
    height: 3rem;
    font-size: 16pt;
}